USE [master]
GO
/****** Object:  Database [AbazovCinemaDB]    Script Date: 25.03.2026 15:14:42 ******/
CREATE DATABASE [AbazovCinemaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AbazovCinemaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AbazovCinemaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AbazovCinemaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AbazovCinemaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AbazovCinemaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AbazovCinemaDB]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[HallName] [nvarchar](50) NOT NULL,
	[Rating] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [decimal](3, 1) NULL,
	[ReleaseDate] [date] NULL,
	[AgeRating] [nvarchar](10) NULL,
	[Poster] [varchar](max) NULL,
	[GenreID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NULL,
	[RowNumber] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[HallID] [int] NULL,
	[SessionDateTime] [datetime] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[UserID] [int] NULL,
	[SeatID] [int] NULL,
	[PurchaseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.03.2026 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (1, N'Sci-Fi')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (2, N'Drama')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (3, N'Action')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([HallID], [HallName], [Rating]) VALUES (1, N'Main Hall', CAST(4.8 AS Decimal(3, 1)))
INSERT [dbo].[Halls] ([HallID], [HallName], [Rating]) VALUES (2, N'IMAX', CAST(5.0 AS Decimal(3, 1)))
INSERT [dbo].[Halls] ([HallID], [HallName], [Rating]) VALUES (3, N'Small Hall', CAST(4.2 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[Halls] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [Rating], [ReleaseDate], [AgeRating], [Poster], [GenreID]) VALUES (1, N'Inception', N'A thief who steals corporate secrets through the use of dream-sharing technology.', CAST(8.8 AS Decimal(3, 1)), CAST(N'2010-07-16' AS Date), N'12+', N'/Resources/nachalo.jpg', 1)
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [Rating], [ReleaseDate], [AgeRating], [Poster], [GenreID]) VALUES (2, N'The Dark Knight', N'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham.', CAST(9.0 AS Decimal(3, 1)), CAST(N'2008-07-18' AS Date), N'16+', N'/Resources/batman.jpg', 3)
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [Rating], [ReleaseDate], [AgeRating], [Poster], [GenreID]) VALUES (3, N'Interstellar', N'A team of explorers travel through a wormhole in space in an attempt to ensure humanity survival.', CAST(8.7 AS Decimal(3, 1)), CAST(N'2014-11-07' AS Date), N'12+', N'/Resources/inter.jpg', 1)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([SeatID], [HallID], [RowNumber], [SeatNumber]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Seats] ([SeatID], [HallID], [RowNumber], [SeatNumber]) VALUES (2, 1, 1, 2)
INSERT [dbo].[Seats] ([SeatID], [HallID], [RowNumber], [SeatNumber]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([SessionID], [MovieID], [HallID], [SessionDateTime], [Price]) VALUES (1, 1, 1, CAST(N'2026-03-20T18:00:00.000' AS DateTime), CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Sessions] ([SessionID], [MovieID], [HallID], [SessionDateTime], [Price]) VALUES (2, 1, 2, CAST(N'2026-03-20T21:00:00.000' AS DateTime), CAST(750.00 AS Decimal(10, 2)))
INSERT [dbo].[Sessions] ([SessionID], [MovieID], [HallID], [SessionDateTime], [Price]) VALUES (3, 2, 2, CAST(N'2026-03-21T19:30:00.000' AS DateTime), CAST(800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [SessionID], [UserID], [SeatID], [PurchaseDate]) VALUES (1, 1, 1, 1, CAST(N'2026-03-19T14:04:09.767' AS DateTime))
INSERT [dbo].[Tickets] ([TicketID], [SessionID], [UserID], [SeatID], [PurchaseDate]) VALUES (2, 1, 1, 2, CAST(N'2026-03-19T14:04:09.767' AS DateTime))
INSERT [dbo].[Tickets] ([TicketID], [SessionID], [UserID], [SeatID], [PurchaseDate]) VALUES (3, 2, 1, 6, CAST(N'2026-03-19T14:04:09.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [Password], [FullName], [RoleID]) VALUES (1, N'admin', N'admin123', N'Abazov Admin', 2)
INSERT [dbo].[Users] ([UserID], [Login], [Password], [FullName], [RoleID]) VALUES (2, N'user1', N'user123', N'Ivan Ivanov', 1)
INSERT [dbo].[Users] ([UserID], [Login], [Password], [FullName], [RoleID]) VALUES (3, N'test', N'tset', N'test', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B709AC6EE]    Script Date: 25.03.2026 15:14:42 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Halls] ADD  DEFAULT ((0.0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([SessionID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
USE [master]
GO
